body {
  font-family: 'Styrene A Web', sans-serif;
  overflow-x: hidden;
  background-color: var(--color-main-2);
  color: var(--color-main);
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: initial;
}

input:focus {
  outline: none;
}